img{
    height:500px;
    margin: 4cm;
    border-style: groove;
    border-width: 1cm;
    border-color:grey whitesmoke burlywood lavender;
    border-radius: 40px 60px 70px 20px;
    padding: 1cm 2cm 3cm 4cm;
    animation:change 15s ease-in-out 3s infinite;
}
@keyframes change {
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
img:hover
{
    border-color: lavender;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
header p{
    font-size: 50px;
}
p,h1{
    color: royalblue;
}